<%- include('../partials/header.ejs') %>

  <h2>Edit Photo</h2>

    <form method="POST" action='/photos/<%= photo.id %>?_method=PUT'>
    <fieldset>
      <label for="title">Enter New Title:</label>
      <input 
        id="title" 
        type="text" 
        name="title" 
        placeholder="Enter new title" 
      />
    </fieldset>

    <fieldset>
      <label for="url">Enter New Photo URL:</label>
      <input 
        id="url" 
        type="url" 
        name="url" 
        placeholder="Enter new photo URL..." 
      />
    </fieldset> 

    <fieldset>
      <label for="description">Enter New Photo Description:</label>
      <input 
        id="description" 
        type="text" 
        name="description" 
        placeholder="Enter new description..." 
      />
    </fieldset>   
    <button>Edit Photo</button>   
  </form>

<%- include('../partials/footer.ejs') %> 