<%- include('../partials/header.ejs') %>

  <h2>Add a Photo</h2>

  <form>
    <fieldset>
      <label for="name">Name:</label>
      <input 
        id="name" 
        type="text" 
        name="name" 
        placeholder="Enter new Author name" 
      />
    </fieldset> 
    <button>Add Photo</button>   
  </form>

<%- include('../partials/footer.ejs') %> 