<%- include('../partials/header.ejs') %>

  <h2>Add a Photo</h2>

  <form>
    <fieldset>
      <label for="title">Title:</label>
      <input 
        id="title" 
        type="text" 
        name="title" 
        placeholder="Enter new  title" 
      />
    </fieldset>

    <fieldset>
      <label for="url">Enter Photo URL:</label>
      <input 
        id="url" 
        type="url" 
        name="url" 
        placeholder="Enter photo URL..." 
      />
    </fieldset> 

    <fieldset>
      <label for="description">Enter Photo Description:</label>
      <input 
        id="description" 
        type="text" 
        name="description" 
        placeholder="Enter description..." 
      />
    </fieldset>   




    <button>Add Photo</button>   
  </form>

<%- include('../partials/footer.ejs') %> 