<%- include('../partials/header.ejs') %>


<h3> Browse Other Photographers </h3>



	<ul>
		<% users.forEach((user) => { %>
		    <li> <a href="/users/<%= user.id %>/user"><%= user.username %> </a></li>
		<%})%>
	</ul>




<%- include('../partials/footer.ejs') %>